.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
  background-color: #f5f7fa;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.form-toggle .active {
  background: linear-gradient(90deg, #e62e8a, #f82bff);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #e62e68, #f82bff);
  color: rgb(252, 244, 244);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form a {
  color: #f86be0;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

.form p {
  padding:20px;
  text-align: center;
}
